apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo-chatbot.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "todo-chatbot.labels" . | nindent 4 }}
data:
  database_host: {{ .Values.database.host | quote }}
  database_port: {{ .Values.database.port | quote }}
  database_name: {{ .Values.database.db | quote }}
  ssl_mode: "require"